input {
{% if logstash.tcp is defined %}
{% for item in logstash.tcp %}
  tcp {
{% if item.host is defined %}
    host => '{{ item.host }}'
{% endif %}
    port => {{ item.port }}
    tags => {{ item.tags }}
  }
{% endfor %}
{% endif %}
}
